!!! 5
html
  head
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
  body
    .bigbox
      .map
        .locationbox <br>The Feral Hills - Late Autumn
        table
          tr
            td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
          tr
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='NW')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='-1')
                input(type='hidden', name='y', value='-1')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='N')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='0')
                input(type='hidden', name='y', value='-1')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='NE')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='1')
                input(type='hidden', name='y', value='-1')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
          tr
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='W')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='-1')
                input(type='hidden', name='y', value='0')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='E')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='1')
                input(type='hidden', name='y', value='0')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              span.mapdata(style='color: #0000bb') Wolf
          tr
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              span.mapdata(style='color: #990000') Stockpile
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='SW')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='-1')
                input(type='hidden', name='y', value='1')
                input(type='hidden', name='z', value='0')
              span.mapdata(style='color: #990000') Signpost
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='S')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='0')
                input(type='hidden', name='y', value='1')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
              form(method='post')
                input.movebutton(type='submit', value='SE')
                input(type='hidden', name='action', value='move')
                input(type='hidden', name='x', value='1')
                input(type='hidden', name='y', value='1')
                input(type='hidden', name='z', value='0')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
          tr
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
            td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
            td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
            td.map(style='background-image: url(/game/images/p_grass.jpg)')
      .gamebox.statsbox
        center
          | You are <a href='/profile/#{character._id.toString()}'>#{character.name}</a>.
          br
          | HP: <b>#{character.hp}/#{character.hp_max}</b>
          | AP: <b>#{character.ap}/100</b> <span style='font-size: 80%'>(3 AP/hour)</span>
          | Hunger: <b>#{character.hunger}/12</b>
          | Level: <b>#{character.skills.length + 1}</b>
          br
          | <b>XP:</b>
          | Wanderer: <b>#{character.xp_wanderer}</b>
          | Herbalist: <b>#{character.xp_herbalist}</b>
          | Crafter: <b>#{character.xp_crafter}</b>
          | Warrior: <b>#{character.xp_warrior}</b>
      .gamebox.buttonsbox
        a.buttonlink(href='/game/skills') Skills
        a.buttonlink(href='/game/map') Map
        a.buttonlink(href='/game/contacts') Contacts
        a.buttonlink(href='/rankings') Rankings
        a.buttonlink(href='http://shintolin.forumcircle.com/') Forum
        a.buttonlink(href='http://shintolin.wikia.com/wiki/Shintolin') Help/Wiki
        a.buttonlink(href='/faq') FAQ
        a.buttonlink(href='/logout') Log out
      table.infotable
        tr
          td(colspan='2')
            .gamebox.actionbox(style='opacity: .82')
              form(method='POST')
                input(type='submit', value='Use')
                input(type='hidden', name='action', value='use')
                select(name='item', style='width: 10em')
                  option(value='13') Cup of herbal tea
                  option(value='4') Piece of willow bark
                  option(value='33') Lump of rotten food
                | on
                select(name='target', style='width: 10em')
                  option(value='0:user') Self
        tr
          td(colspan='2')
            .gamebox.infobox(style='opacity: .82')
              .beigeoverlay You are walking through a grassland. The cold weather is beginning to turn the grass brown.
        tr
          td
            .gamebox.invbox(style='opacity: .82')
              b Weight: Very Heavy
              hr
              i You are carrying:
              div(title='a fragrant cup of herbal tea, for reviving') 6 x cups of herbal tea
              hr
              form(method='POST')
                input(type='submit', value='Drop')
                input(type='hidden', name='action', value='drop')
                select(name='number')
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                select(name='item', style='width: 10em')
                  option(value='13') Cups of herbal tea
          td
            .gamebox.msgbox
              .action <a href='/profile' class='neutral' title=''>IcePie</a> fed <b>you</b> a hunk of cooked meat <span class='time'>606 days ago.</span>
            .gamebox
              b Chat:
              .chatbox
                div <a href='/profile' class='neutral' title=''>Miejoe:</a> yes, that's exactly what I meant. O hai Berksey! Yes, mebbe I should start playing LR again. <span class='time'>4 hours ago.</span>
                center
                  br
                  a.buttonlink(href='/game/chat') Chat page
              form(method='POST')
                input(type='submit', value='Chat')
                input(type='hidden', name='action', value='chat')
                input.text(type='text', name='text', maxlength='200', style='width: 300px')
