!!! 5
html
  head
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
    !=css('game')
  body
    h1.header Create New Settlement
    img(src='/game/images/p_huts.jpg', width='501', alt='three stone age huts', style='margin-left: auto; margin-right: auto;')
    br
    br
    if settlements > 0
      .beigebox(style='margin-left: 40px; width: 400px')
        p There are already #{settlements} settlements near here; there must be no other totem poles within a #{settlement_radius}-tile radius to build a new totem.
    else if huts < minimum_huts
      .beigebox(style='margin-left: 40px; width: 400px')
        p There are only #{huts} huts near here; there must be at least #{minimum_huts} huts within a #{hut_radius}-tile radius.
    else
      .beigebox(style='margin-left: 40px; width: 400px')
        p This looks like a fine spot to build a settlement. Please choose a name for your new community.
      .beigebox(style='margin-left: 40px; width: 400px')
        form(method='POST')
          input(type='hidden', name='_csrf', value=csrf)
          input.text(type='text', name='name', style='font-size: 110%; margin-left: 20px', maxlength='32')
          input(type='submit', value='Settle!', style='font-size: 110%')
    br
    hr
    a.buttonlink(href='/game') Return
