.gamebox.actionbox(style='opacity: .82')

  form(method='POST', action='/game/attack')
    input(type='submit', value='Attack', data-action='attack')
    select(name='target', style='width: 10em', data-persist='target', data-action-focus='attack')
      option(value='') no-one
      for c in center.people
        option(value=c._id)= c.name
    |  with 
    select(name='item', style='width: 10em', data-persist='weapon')
      for weapon in weapons
        option(value=weapon.id) #{weapon.name} (#{weapon.hit_chance * 100}%, #{weapon.damage} dmg)

  form(method='POST', action='/game/use')
    input(type='submit', value='Use', data-action='use')
    select(name='item', style='width: 10em', data-persist='usable-item', data-action-focus='use')
      option(value='13') Cup of herbal tea
      option(value='4') Piece of willow bark
      option(value='33') Lump of rotten food
    |  on 
    select(name='target', style='width: 10em', data-persist='target')
      option(value='0:user') Self
      for c in center.people
        option(value=c._id)= c.name

  form(method='POST', action='/game/paint')
    select(name='terrain', style='width: 10em', data-persist='paint', data-action-focus='paint')
      for terrain in data.terrains
        unless terrain.hidden
          option(value=terrain.id)= terrain.id
    input(type='submit', value='Paint', data-action='paint')
