if action_messages.length
  .gamebox.msgbox
    for msg in action_messages
      if msg.type === 'fed'
        include chat/fed
      else if msg.type === 'attack'
        include chat/attack
      else if msg.type === 'attacked'
        include chat/attacked
      else if msg.type === 'attack_nearby'
        include chat/attack_nearby
      else
        .action
          a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
          i  ??? (#{msg.type}) ??? 
          span.time= moment(msg.sent).fromNow()
.gamebox
  b Chat:
  .chatbox
    for msg in chat_messages
      div
        a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
        | : #{msg.text} 
        span.time= moment(msg.sent).fromNow()
    center
      br
      a.buttonlink(href='/game/chat') Chat page
  form(method='POST', action='/game/chat')
    input(type='submit', value='Chat')
    input.text(type='text', name='text', maxlength='200', style='width: 300px')
