.gamebox.msgbox
  if messages.length
    for msg in messages
      case msg.type
        when 'attack'
          include chat/attack
        when 'attacked'
          include chat/attacked
        when 'attack_nearby'
          include chat/attack_nearby
        when 'built'
          include chat/built
        when 'built_nearby'
          include chat/built_nearby
        when 'chop'
          include chat/chop
        when 'craft'
          include chat/craft
        when 'fed'
          include chat/fed
        when 'search'
          include chat/search
        when 'settled'
          include chat/settled
        when 'social'
          div
            a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
            | : #{msg.text} 
            span.time= moment(msg.sent).fromNow()
        when 'settled_nearby'
          include chat/settled_nearby
        default
          .action
            a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
            i  ??? (#{msg.type}) ??? 
            span.time= moment(msg.sent).fromNow()
    unless locals.suppress_more_link
      a.buttonlink(href='/game/chat') More...
