.gamebox.invbox(style='opacity: .82')
  b Weight: Very Heavy
  hr
  i You are carrying:
  for item in character.items
    if item.count === 1
      div 1 x #{data.items[item.item].name}
    else
      div #{item.count} x #{data.items[item.item].plural}
  hr
  form(method='POST')
    input(type='submit', value='Drop')
    input(type='hidden', name='action', value='drop')
    select(name='number')
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4
      option(value='5') 5
    select(name='item', style='width: 10em')
      for item in character.items
        if item.count === 1
          option(value=item.item)= data.items[item.item].name
        else
          option(value=item.item)= data.items[item.item].plural
