.map
  .locationbox <br>The Feral Hills - #{time.month} #{time.season}, #{time.year}
  table
    for row in grid
      tr
        for tile in row
          td.map(class='tile-#{tile.terrain.style}')
            if tile.direction
              form(method='post', action='/game/move/' + tile.direction)
                if tile.cost > 1
                  input.movebutton(type='submit', value='#{tile.direction.toUpperCase()}: #{tile.cost}', data-direction='#{tile.direction}')
                else
                  input.movebutton(type='submit', value=tile.direction.toUpperCase(), data-direction='#{tile.direction}')
            if tile.tile.feature
              span.mapdata.feature= tile.tile.feature
              br
            if tile.tile.creatures
              for creature in tile.tile.creatures
                span.mapdata.creature= creature.type
                br
            if tile.people && tile.people.length === 1
              span.mapdata 1 person
            else if tile.people && tile.people.length > 1
              span.mapdata #{tile.people.length} people
