div

  if usables.length
    form.action(method='POST', action='/game/use')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Use')
      select.form-control(name='item', style='width: 10em', data-persist='usable-item', data-action-focus='use')
        for usable in usables
          option(value=usable.id)= usable.name
      input(type='hidden', name='target', value='self')

  form.action(method='POST', action='/game/craft')
    input(type='hidden', name='_csrf', value=csrf)
    mixin action_button('Craft', 'Variable')
    select.form-control(name='recipe', style='width: 10em', data-persist='recipe', data-action-focus='craft')
      for recipe in recipes
        option(value=recipe.id) #{describe_gives(recipe.gives)}
          |  (#{recipe.ap}ap
          if recipe.tools
            for item in recipe.tools
              | , #{data.items[item].name}
          for item in recipe.items
            | , #{item.count} x #{data.items[item.item].name}
          | )

  form.action(method='POST', action='/game/drop')
    input(type='hidden', name='_csrf', value=csrf)
    mixin action_button('Drop')
    - var max = _.max(_.pluck(character.items, 'count'));
    if max === 1
      input(type='hidden', name='count', value=1)
    else
      - var range = _.range(max);
      select.form-control(name='count', style='width: 10em')
        for i in range
          option(value=i + 1)= i + 1
      |  
    select.form-control(name='item', style='width: 10em')
      for item in sorted_items
        if item.count === 1
          option(value=item.item)= data.items[item.item].name
        else
          option(value=item.item)= data.items[item.item].plural
