div

  form(method='POST', action='/game/attack')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='submit', value='Attack', data-action='attack')
    select(name='target', style='width: 10em', data-persist='target', data-action-focus='attack')
      option(value='') no-one
      for c in center.people
        option(value=c._id)= c.name
      for c in center.creatures
        if character.developer
          option(value=c._id) #{c.creature.name} #{c.hp}/#{c.hp_max}
        else
          option(value=c._id)= c.creature.name
      if center.building && !center.building.invulnerable
        option(value='building')= center.building.name
    |  with 
    select(name='item', style='width: 10em', data-persist='weapon')
      for weapon in weapons
        option(value=weapon.id) #{weapon.name} (#{weapon.hit_chance * 100}%, #{weapon.damage} dmg)

