div

  if actions.use_self
    form.action(method='POST', action='/game/actions/use_self')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Use')
      select.form-control(name='item', style='width: 10em', data-persist='usable-item', data-action-focus='use')
        for usable in actions.use_self.usables
          option(value=usable.id)= usable.name

  if actions.craft
    form.action(method='POST', action='/game/actions/craft')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Craft', 'Variable')
      select.form-control(name='recipe', style='width: 10em', data-persist='recipe', data-action-focus='craft')
        for recipe in actions.craft.recipes
          option(value=recipe.id)
            if recipe.craftable
              | ✅ 
            else
              | ❌ 
            | #{describe_gives(recipe.gives)}
            |  (#{recipe.ap} AP
            if recipe.tools
              for item in recipe.tools
                | , #{data.items[item].name}
            for item in recipe.items
              | , #{item.count}x #{data.items[item.item].name}
            | )

  if actions.drop
    form.action(method='POST', action='/game/actions/drop')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Drop', 'Variable')
      if actions.drop.max_count === 1
        input(type='hidden', name='count', value=1)
      else
        - var range = _.range(actions.drop.max_count);
        select.form-control(name='count', style='width: 10em')
          for i in range
            option(value=i + 1) #{i + 1}x
        |  
      select.form-control(name='item', style='width: 10em')
        for label, key in actions.drop.droppables
          option(value=key) #{label}
