div

  if actions.attack_player
    form.action(method='POST', action='/game/actions/attack_player')
      input(type='hidden', name='_csrf', value=csrf)
      +action_button('Attack', actions.attack_player.ap)
      select.form-control(name='target', data-persist='target', data-action-focus='attack')
        for label, key in actions.attack_player.targets
          option(value=key) #{label}
      span  with 
      select.form-control(name='item', data-persist='weapon')
        for label, key in actions.attack_player.weapons
          option(value=key) #{label}

  if actions.use_player
    form.action(method='POST', action='/game/actions/use_player')
      input(type='hidden', name='_csrf', value=csrf)
      +action_button('Use')
      select.form-control(name='item', data-persist='usable-item', data-action-focus='use')
        for usable in actions.use_player.usables
          option(value=usable.id)= usable.name
      span  on 
      select.form-control(name='target', data-persist='target')
        for c in actions.use_player.targets
          option(value=c._id)= c.name

  if actions.give_player
    form.action(method='POST', action='/game/actions/give_player')
      input(type='hidden', name='_csrf', value=csrf)
      +action_button('Give', 'Variable')
      if actions.give_player.max_count === 1
        input(type='hidden', name='quantity', value=1)
      else
        - var range = _.range(actions.give_player.max_count);
        select.form-control(name='quantity')
          for i in range
            option(value=i + 1) #{i + 1}x
      select.form-control(name='item', data-persist='item', data-action-focus='give')
        for label, key in actions.give_player.giveables
          option(value=key) #{label}
      span  to 
      select.form-control(name='target', data-persist='target')
        for c in actions.give_player.targets
          option(value=c._id)= c.name

  if !action_counts.target
    p.empty No target actions.
