div

  if center.tile.z === 0 && !building
    form(method='POST', action='/game/build')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Build', undefined, 'Variable')
      select(name='building', style='width: 10em', data-persist='building', data-action-focus='build')
        for building in buildings
          option(value=building.id)= building.name
            |  (#{building.ap}ap
            for item in building.items
              | , #{item.count} x #{data.items[item.item].name}
            | )

  form(method='POST', action='/game/search')
    input(type='hidden', name='_csrf', value=csrf)
    mixin action_button('Search')

  if _.contains(actions, 'chop')
    form(method='POST', action='/game/chop')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Chop Tree', 'chop', data.actions.chop.ap(character, center.tile))

  if _.contains(actions, 'quarry')
    form(method='POST', action='/game/quarry')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Quarry')

  if _.contains(actions, 'fill')
    form(method='POST', action='/game/fill-pot')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Fill')

  if _.contains(actions, 'dig')
    form(method='POST', action='/game/dig')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Dig')

  if _.contains(actions, 'sow')
    form(method='POST', action='/game/sow')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Sow')
      select(name='item', style='width: 10em', data-persist='plantable', data-action-focus='sow')
        for item in data.items
          if _.contains(item.tags || [], 'plantable')
            option(value=item.id)= item.name

  if _.contains(actions, 'water')
    form(method='POST', action='/game/water')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Water Field')
      select(name='item', style='width: 10em', data-persist='water', data-action-focus='water')
        for citem in character.items
          - var item = data.items[citem.item];
          if _.contains(item.tags || [], 'water')
            option(value=item.id)= item.name

  if _.contains(actions, 'harvest')
    form(method='POST', action='/game/harvest')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Harvest')
      select(name='item', style='width: 10em', data-persist='harvest', data-action-focus='harvest')
        for citem in character.items
          - var item = data.items[citem.item];
          if _.contains(item.tags || [], 'harvest')
            option(value=item.id)= item.name
