div
  -var hasAction = false;

  if actions.write
    - hasAction = true;
    form.action(method='POST', action='/game/write')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Write', 3)
      input.text(type='text', name='message', maxlength='32', value=center.tile.message, style='width: 300px;')

  if repair
    - hasAction = true;
    form.action(method='POST', action='/game/repair')
      input(type='hidden', name='_csrf', value=csrf)
      input(type='submit', value=building.text && building.text.repair && building.text.repair.button ? building.text.repair.button : 'Repair', data-action='repair')

  if actions.give && character.items.length
    - hasAction = true;
    form.action(method='POST', action='/game/give')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Give')
      - var max = _.max(_.pluck(character.items, 'count'));
      if max === 1
        input(type='hidden', name='quantity', value=1)
      else
        - var range = _.range(max);
        select(name='quantity')
          for i in range
            option(value=i + 1)= i + 1
      select(name='item', style='width: 10em', data-persist='item', data-action-focus='give')
        for item in character.items
          option(value=item.item)= data.items[item.item].name
      input(type='hidden', name='target', value='building')

  if actions.take && center.tile.items.length
    form.action(method='POST', action='/game/take')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Take')
      - var max = _.max(_.pluck(center.tile.items, 'count'));
      if max === 1
        input(type='hidden', name='quantity', value=1)
      else
        - var range = _.range(max);
        select(name='quantity')
          for i in range
            option(value=i + 1)= i + 1
      select(name='tile_item', style='width: 10em', data-persist='item', data-action-focus='take')
        for item in center.tile.items
          option(value=item.item)= data.items[item.item].name

  if settlement && actions.promote && settlement.leader && settlement.leader._id.toString() === character._id.toString()
    - hasAction = true;
    form.action(method='POST', action='/game/promote')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Promote', 0)
      select(name='character', style='width: 10em', data-persist='member', data-action-focus='promote')
        option(value='') no-one
        for m in settlement.members
          if m.provisional
            option(value=m._id)= m.name

  if settlement && actions.evict && settlement.leader && settlement.leader._id.toString() === character._id.toString()
    - hasAction = true;
    form.action(method='POST', action='/game/evict')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Evict', 0)
      select(name='character', style='width: 10em', data-persist='member', data-action-focus='evict')
        option(value='') no-one
        for m in evictables
          option(value=m._id)= m.name

  if settlement && character.settlement_id && settlement._id.toString() === character.settlement_id.toString()
    - hasAction = true;
    - var my_member_record = _.find(settlement.members, function(m){ return m._id.toString() === character._id.toString(); });
    - var candidates = settlement.members.filter(function(m){ return !m.provisional; });
    form.action(method='POST', action='/game/vote')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Vote For', 0)
      select(name='character', style='width: 10em')
        option(value='') no-one
        for c in candidates
          if my_member_record.voting_for && my_member_record.voting_for._id.toString() === c._id.toString()
            option(value=c._id, selected='selected')= c.name
          else
            option(value=c._id)= c.name
    if my_member_record.voting_for
      | Current Vote: <a href='/profile/#{my_member_record.voting_for.slug}'>#{my_member_record.voting_for.name}</a>

  if center.tile.settlement_id && center.building && center.building.id === 'totem' && (!character.settlement_id || center.tile.settlement_id.toString() !== character.settlement_id.toString())
    - hasAction = true;
    form.action(method='POST', action='/game/join')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Join Settlement', 25)

  if !hasAction
    p.empty No building actions.
