div

  if building && (building.hp || building.hp_max)
    - var building_hp_current = exterior ? exterior.hp || 0 : center.tile.hp || 0;
    - var building_hp_max = building.hp_max || building.hp || 0;
    - var pct = Math.floor(rounded(building_hp_current)/rounded(building_hp_max) * 100);
    - if (pct > 100) { pct = 100; }
    .progress.building-hp
      .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow=rounded(building_hp_current), aria-valuemin='0', aria-valuemax=rounded(building_hp_max), style='width: #{pct}%;')
        .content
          strong #{(building.text || {}).hp || 'HP'}:
          |  #{building_hp_current}/#{building_hp_max}

  if center.tile.z === 1 && building && building.max_occupancy
    - var occupancy = (center.people.length + 1);
    - var pct = Math.floor(occupancy/building.max_occupancy * 100);
    - if (pct > 100) { pct = 100; }
    .progress.building-occupancy
      .progress-bar(role='progressbar', aria-valuenow=occupancy, aria-valuemin='0', aria-valuemax=building.max_occupancy, style='width: #{pct}%;', class={'progress-bar-warning': (occupancy > building.max_occupancy), 'progress-bar-default': (occupancy <= building.max_occupancy)})
        .content
          if occupancy > building.max_occupancy
            strong Maximum Occupancy Exceeded
          else
            strong Maximum Occupancy: #{building.max_occupancy}

  if actions.build
    form.action(method='POST', action='/game/actions/build')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button(actions.build.text.submit, 'Variable')
      select.form-control(name='building', style='width: 16em; max-width: 16em;', data-persist='building', data-action-focus='build')
        for value, key in actions.build.buildings
          option(value=key)= value.label

  if actions.repair
    form.action(method='POST', action='/game/actions/repair')
      input(type='hidden', name='_csrf', value=csrf)
      input.btn.btn-default.btn-sm(type='submit', value=actions.repair.text.button, data-action='repair', data-toggle='tooltip', data-placement='left', title="#{actions.repair.ap} AP")
      |  #{actions.repair.text.description}

  if actions.attack_building
    form.action(method='POST', action='/game/actions/attack_building')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Attack', actions.attack_building.ap)
      span with 
      select.form-control(name='item', data-persist='weapon')
        for label, key in actions.attack_building.weapons
          option(value=key) #{label}

  if actions.give_building
    form.action(method='POST', action='/game/actions/give_building')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Give', 'Variable')
      if actions.give_building.max_count === 1
        input(type='hidden', name='quantity', value=1)
      else
        - var range = _.range(actions.give_building.max_count);
        select.form-control(name='quantity')
          for i in range
            option(value=i + 1) #{i + 1}x
        |  
      select.form-control(name='item', style='width: 10em', data-persist='item', data-action-focus='give')
        for label, key in actions.give_building.giveables
          option(value=key) #{label}

  if actions.take_building
    form.action(method='POST', action='/game/actions/take_building')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Take', 'Variable')
      if actions.take_building.max_count  === 1
        input(type='hidden', name='quantity', value=1)
      else
        - var range = _.range(actions.take_building.max_count);
        select.form-control(name='quantity')
          for i in range
            option(value=i + 1) #{i + 1}x
        |  
      select.form-control(name='item', style='width: 10em', data-persist='item', data-action-focus='take')
        for label, key in actions.take_building.takeables
          option(value=key) #{label}

  if actions.settlement_join
    form.confirmable.action(method='POST', action='/game/actions/settlement_join')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Join Settlement', actions.settlement_join.ap)

  if actions.write
    form.confirmable.action(method='POST', action='/game/actions/write')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Write', actions.write.ap)
      input.form-control(type='text', name='message', maxlength='32', value=actions.write.message)

  if actions.sacrifice
    h4 Sacrifice
    for val, key in actions.sacrifice.accepts
      form.action(method='POST', action='/game/actions/sacrifice')
        input(type='hidden', name='_csrf', value=csrf)
        input(type='hidden', name='count', value=val.count)
        input(type='hidden', name='item', value=key)
        mixin action_button(val.count + 'x ' + data.items[key].name, actions.sacrifice.ap)
        span.badge +#{val.favor} Favor

  if !action_counts.building
    p.empty No building actions.
