div
  if center.people.length || center.creatures.length || center.building

    form.action(method='POST', action='/game/attack')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Attack')
      select.form-control(name='target', data-persist='target', data-action-focus='attack')
        option(value='') no-one
        for c in center.people
          option(value=c._id)= c.name
        for c in center.creatures
          if character.developer
            option(value=c._id) #{c.creature.name} #{c.hp}/#{c.hp_max}
          else
            option(value=c._id)= c.creature.name
        if center.building && !center.building.invulnerable
          option(value='building')= center.building.name
      span  with 
      select.form-control(name='item', data-persist='weapon')
        for weapon in weapons
          option(value=weapon.id) #{weapon.name} (#{Math.floor(weapon.hit_chance * 100)}%, #{weapon.damage} dmg)

    if actions.use
      form.action(method='POST', action='/game/actions/use')
        input(type='hidden', name='_csrf', value=csrf)
        mixin action_button('Use')
        select.form-control(name='item', data-persist='usable-item', data-action-focus='use')
          for usable in actions.use.usables
            option(value=usable.id)= usable.name
        span  on 
        select.form-control(name='target', data-persist='target')
          for c in actions.use.targets
            option(value=c._id)= c.name

    if center.people.length && character.items.length
      form.action(method='POST', action='/game/give')
        input(type='hidden', name='_csrf', value=csrf)
        mixin action_button('Give')
        - var max = _.max(_.pluck(character.items, 'count'));
        if max === 1
          input(type='hidden', name='quantity', value=1)
        else
          - var range = _.range(max);
          select.form-control(name='quantity')
            for i in range
              option(value=i + 1) #{i + 1}x
        select.form-control(name='item', data-persist='item', data-action-focus='give')
          for item in character.items
            option(value=item.item)= data.items[item.item].name
        span  to 
        select.form-control(name='target', data-persist='target')
          for c in center.people
            option(value=c._id)= c.name

    if actions.kick_out && actions.kick_out.show
      form.action(method='POST', action='/game/actions/kick_out')
        input(type='hidden', name='_csrf', value=csrf)
        mixin action_button('Kick Out', actions.kick_out.ap)
        select.form-control(name='target', data-persist='target')
          for c in actions.kick_out.people
            option(value=c._id)= c.name

  else
    p.empty No targets.
