div

  if actions.build
    form.action(method='POST', action='/game/actions/build')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Build', undefined, 'Variable')
      select(name='building', style='width: 10em', data-persist='building', data-action-focus='build')
        for value, key in actions.build.buildings
          option(value=key)= value.label

  if actions.chop
    form.action(method='POST', action='/game/actions/chop')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Chop Tree', 'chop', actions.chop.ap)

  if actions.quarry
    form.action(method='POST', action='/game/quarry')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Quarry')

  if actions.fill
    form.action(method='POST', action='/game/fill-pot')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Fill')

  if actions.dig
    form.action(method='POST', action='/game/dig')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Dig')

  if actions.sow
    form.action(method='POST', action='/game/sow')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Sow')
      select(name='item', style='width: 10em', data-persist='plantable', data-action-focus='sow')
        for item in data.items
          if _.contains(item.tags || [], 'plantable')
            option(value=item.id)= item.name

  if actions.water
    form.action(method='POST', action='/game/water')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Water Field')
      select(name='item', style='width: 10em', data-persist='water', data-action-focus='water')
        for citem in character.items
          - var item = data.items[citem.item];
          if _.contains(item.tags || [], 'water')
            option(value=item.id)= item.name

  if actions.harvest
    form.action(method='POST', action='/game/harvest')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Harvest')
      select(name='item', style='width: 10em', data-persist='harvest', data-action-focus='harvest')
        for citem in character.items
          - var item = data.items[citem.item];
          if _.contains(item.tags || [], 'harvest')
            option(value=item.id)= item.name

  if actions.search
    form.action(method='POST', action='/game/search')
      input(type='hidden', name='_csrf', value=csrf)
      mixin action_button('Search')
