.gamebox.msgbox
  if messages.length
    for msg in messages
      case msg.type
        when 'attack'
          include chat/attack
        when 'attacked'
          include chat/attacked
        when 'attack_nearby'
          include chat/attack_nearby
        when 'built'
          include chat/built
        when 'built_nearby'
          include chat/built_nearby
        when 'changed_vote'
          include chat/changed_vote
        when 'chop'
          include chat/chop
        when 'craft'
          include chat/craft
        when 'damage_building'
          include chat/damage_building
        when 'damage_building_nearby'
          include chat/damage_building_nearby
        when 'damage_building_settlement'
          include chat/damage_building_settlement
        when 'damage_building_inside'
          include chat/damage_building_inside
        when 'destroyed_nearby'
          include chat/destroyed_nearby
        when 'destroyed_inside'
          include chat/destroyed_inside
        when 'election'
          include chat/election
        when 'fed'
          include chat/fed
        when 'heal'
          include chat/heal
        when 'healed'
          include chat/healed
        when 'heal_nearby'
          include chat/heal_nearby
        when 'join'
          include chat/join
        when 'join_nearby'
          include chat/join_nearby
        when 'kicked'
          include chat/kicked
        when 'learned'
          include chat/learned
        when 'left'
          include chat/left
        when 'left_nearby'
          include chat/left_nearby
        when 'nonprovisional'
          include chat/nonprovisional
        when 'search'
          include chat/search
        when 'settled'
          include chat/settled
        when 'settlement_removed'
          include chat/settlement_removed
        when 'social'
          div
            a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
            | : #{msg.text} 
            span.time= moment(msg.sent).fromNow()
        when 'settled_nearby'
          include chat/settled_nearby
        default
          .action
            a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
            i  ??? (#{msg.type}) ??? 
            span.time= moment(msg.sent).fromNow()
    unless locals.suppress_more_link
      a.buttonlink(href='/game/chat') More...
