.gamebox.buttonsbox
  ul
    if building
      li
        dt Building Health:
        dd #{center.tile.hp}/#{building.hp_max ? building.hp_max : building.hp}
    li: a.buttonlink(href='/game/debug/replenish-ap') Replenish AP
    li: a.buttonlink(href='/game/debug/replenish-hp') Replenish HP
    li: a.buttonlink(href='/manage/map') Admin

  form(method='POST', action='/game/debug/paint')
    input(type='hidden', name='_csrf', value=csrf)
    select(name='terrain', style='width: 10em', data-persist='paint', data-action-focus='paint')
      for terrain in data.terrains
        unless terrain.hidden
          option(value=terrain.id)= terrain.id
    input(type='submit', value='Paint', data-action='paint')

  if center.people.length
    form(method='POST', action='/game/debug/possess')
      input(type='hidden', name='_csrf', value=csrf)
      input(type='submit', value='Possess', data-action='possess')
      select(name='target', style='width: 10em', data-persist='target', data-action-focus='possess')
        for c in center.people
          option(value=c._id)= c.name

  form(method='POST', action='/game/debug/materialize')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='submit', value='Materialize', data-action='materialize')
    select(name='item', style='width: 10em', data-persist='item', data-action-focus='materialize')
      for i in data.items
        option(value=i.id)= i.name
    select(name='quantity', data-persist='materialize-quantity', data-action-focus='materialize')
      for i in _.range(100)
        option(value=i + 1)= i + 1

  p Searches: #{dbg.center.searches}
