.gamebox.buttonsbox
  ul
    if building && center.tile.z === 0
      li
        dt Building Health:
        dd #{center.tile.hp}/#{building.hp_max ? building.hp_max : building.hp}
    li: a.buttonlink(href='/game/dev/replenish-ap') Replenish AP
    li: a.buttonlink(href='/game/dev/replenish-hp') Replenish HP
    li: a.buttonlink(href='/manage/map') Admin

  form(method='POST', action='/game/dev/paint')
    input(type='hidden', name='_csrf', value=csrf)
    select(name='terrain', style='width: 10em', data-persist='dev-paint-terrain', data-action-focus='paint')
      if center.terrain.id === config.default_terrain
        option(value=center.terrain.id)= center.terrain.id
      for terrain in data.terrains
        unless terrain.hidden
          if terrain.id === center.terrain.id
            option(value=terrain.id, selected)= terrain.id
          else
            option(value=terrain.id)= terrain.id
    select(name='region', style='width: 10em', data-persist='dev-paint-region')
      option(value='') (No Region)
      for region in data.regions
        if center.tile.region === region.id
          option(value=region.id, selected)= region.name
        else
          option(value=region.id)= region.name
    input(type='submit', value='Paint', data-action='paint')

  if center.people && center.people.length
    form(method='POST', action='/game/dev/possess')
      input(type='hidden', name='_csrf', value=csrf)
      input(type='submit', value='Possess', data-action='possess')
      select(name='target', style='width: 10em', data-persist='target', data-action-focus='possess')
        for c in center.people
          option(value=c._id)= c.name

  form(method='POST', action='/game/dev/materialize')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='submit', value='Materialize', data-action='materialize')
    select(name='item', style='width: 10em', data-persist='item', data-action-focus='materialize')
      for i in data.items
        option(value=i.id)= i.name
    select(name='quantity', data-persist='materialize-quantity', data-action-focus='materialize')
      for i in _.range(100)
        option(value=i + 1)= i + 1

  form(method='POST', action='/game/dev/spawn')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='submit', value='Spawn', data-action='spawn')
    select(name='creature', style='width: 10em', data-persist='creature', data-action-focus='spawn')
      for c in data.creatures
        option(value=c.id)= c.name

  form(method='POST', action='/game/dev/move-random')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='submit', value='Random Tile', data-action='move_random')

  p Searches: #{dbg.center.searches}
  p Location: #{center.tile.x},#{center.tile.y},#{center.tile.z} (#{center.tile.terrain})
