.map
  include ./tile

  .location
    h1
      if center.tile.settlement_id
        a.neutral(href='/settlements/#{center.tile.settlement_slug}')= center.tile.settlement_name
      else
        span.disabled Unsettled Land
    h2
      a(href='/game/map') #{center.tile.region ? data.regions[center.tile.region].name : 'The Wilderness'}
      | , #{time.month} #{time.season} #{time.year}SR

  .visible-xs
    include flavor

  .map-table
    table
      for row in grid
        tr
          for tile in row
            mixin tile_td(tile)
