.gamebox.statsbox
  center
    if character.settlement_id
      | You are <a href='/profile/#{character.slug}'>#{character.name}</a> of <a href='/settlements/#{character.settlement_slug}'>#{character.settlement_name}</a>.
      form(method='POST', action='/game/leave')
        input(type='hidden', name='_csrf', value=csrf)
        input(type='submit', value='Leave Settlement', data-action='leave')
    else
      | You are <a href='/profile/#{character.slug}'>#{character.name}</a>.
    br
    | HP: <b>#{character.hp}/#{character.hp_max}</b>
    | AP: <b>#{character.ap}/100</b> <span style='font-size:80%'>(#{character.recovery} AP/hour)</span>
    | Hunger: <b>#{character.hunger}/12</b>
    | Frags: <b>#{character.frags}</b>
    | Level: <b>#{character.skills.length + 1}</b>
    br
    | <b>XP:</b>
    | Wanderer: <b>#{character.xp_wanderer}</b>
    | Herbalist: <b>#{character.xp_herbalist}</b>
    | Crafter: <b>#{character.xp_crafter}</b>
    | Warrior: <b>#{character.xp_warrior}</b>
