mixin progress(label, current, max, colorClass, title)
  div(data-toggle='tooltip', data-placement='top', title='#{rounded(current)}/#{rounded(max)}' + (title || ''))
    label #{label}
    .progress
      .progress-bar(class=colorClass, role='progressbar', aria-valuenow=rounded(current), aria-valuemin='0', aria-valuemax=rounded(max), style='width: #{Math.floor(rounded(current)/rounded(max) * 100)}%;')
      .content #{rounded(current)}/#{rounded(max)}

.gamebox.statsbox-top
  mixin progress('HP', character.hp, character.hp_max, 'progress-bar-danger')
  mixin progress('AP', character.ap, 100, 'progress-bar-warning', '<br>+' + character.recovery + ' AP/hour')
  mixin progress('Hunger', character.hunger, 12, 'progress-bar-success')
