mixin tile_td(tile)
  td.map(class='tile-#{tile.style} #{is_center ? "current" : null}')
    - var is_center = center && tile.tile._id && tile.tile._id.toString() === center.tile._id.toString();
    div
      if tile.direction && center.tile.z === 0
        form(method='post', action='/game/move/' + tile.direction)
          input(type='hidden', name='_csrf', value=csrf)
          if tile.terrain.blocked || tile.cost === null
            input.movebutton(type='submit', data-direction='#{tile.direction}', style='display:none;')
          else
            button.btn.btn-default.btn-xs(type='submit', data-direction=tile.direction, data-toggle='tooltip', data-placement='top', title='#{tile.cost} AP') #{tile.direction}
      if is_center && tile.tile.z === 1
          form(method='post', action='/game/move/exit')
            input(type='hidden', name='_csrf', value=csrf)
            button.btn.btn-default.btn-xs(type='submit', value='Exit', data-direction='enterexit', data-toggle='tooltip', data-placement='top', title='#{tile.cost} AP')
              span.glyphicon.glyphicon-log-out
              span.sr-only Exit
      else if tile.tile.building
        - var building = data.buildings[tile.tile.building]
        if center && tile.tile._id.toString() === center.tile._id.toString()
          if building.interior
            form(method='post', action='/game/move/enter')
              input(type='hidden', name='_csrf', value=csrf)
              button.btn.btn-default.btn-xs(type='submit', value='Enter', data-direction='enterexit', data-toggle='tooltip', data-placement='top', title='#{tile.cost} AP')
                span.glyphicon.glyphicon-log-in
                span.sr-only Enter
        div: .mapdata.feature= building.name
      if tile.creatures && tile.creatures.length
        for creature in tile.creatures
          div: .mapdata.creature
            | #{creature.creature.name}
            if _.contains(character.skills, 'triage') && creature.hp < creature.hp_max
              |  (#{creature.hp}/#{creature.hp_max})
      if tile.people && tile.people.length === 1 && (is_center || tile.tile.z === 0)
        div: .mapdata 1 person
      else if tile.people && tile.people.length > 1 && (is_center || tile.tile.z === 0)
        div: .mapdata #{tile.people.length} people
