mixin tile_td(tile, redirect)
  - var is_center = center && tile.tile._id && tile.tile._id.toString() === center.tile._id.toString();
  td.map(class={current: is_center})
    .terrain(class='tile-#{tile.style}')
    .content

      // DIRECTIONAL MOVE
      if tile.direction === 'in'
        form(method='post', action='/game/move/enter')
          input(type='hidden', name='_csrf', value=csrf)
          if redirect
            input(type='hidden', name='redirect', value=redirect)
          button.btn.btn-default.btn-xs(type='submit', value='Enter', data-direction='enterexit', data-toggle='tooltip', data-placement='top', title='#{tile.cost} AP')
            span.glyphicon.glyphicon-log-in
            span.sr-only Enter
      else if tile.direction === 'out'
        form(method='post', action='/game/move/exit')
          input(type='hidden', name='_csrf', value=csrf)
          if redirect
            input(type='hidden', name='redirect', value=redirect)
          button.btn.btn-default.btn-xs(type='submit', value='Exit', data-direction='enterexit', data-toggle='tooltip', data-placement='top', title='#{tile.cost} AP')
            span.glyphicon.glyphicon-log-out
            span.sr-only Exit
      else if tile.direction && center.tile.z === 0
        form(method='post', action='/game/move/' + tile.direction)
          input(type='hidden', name='_csrf', value=csrf)
          if redirect
            input(type='hidden', name='redirect', value=redirect)
          if tile.terrain.blocked || tile.cost === null
            input.movebutton(type='submit', data-direction='#{tile.direction}', style='display:none;')
          else
            button.btn.btn-default.btn-xs(type='submit', data-direction=tile.direction, data-toggle='tooltip', data-placement='top', title='#{tile.cost} AP') #{tile.direction}

      // BUILDING EXIT/ENTER
      if tile.tile.building
        - var building = data.buildings[tile.tile.building]
        div: .mapdata.feature= building.name

      // PEOPLE
      if tile.people && tile.people.length === 1 && (is_center || tile.tile.z === 0)
        div: .mapdata 1 person
      else if tile.people && tile.people.length > 1 && (is_center || tile.tile.z === 0)
        div: .mapdata #{tile.people.length} people

      // CREATURES
      if tile.creatures && tile.creatures.length
        for creature in tile.creatures
          div: .mapdata.creature
            | #{creature.creature.name}
            if _.contains(character.skills, 'triage') && creature.hp < creature.hp_max
              |  (#{creature.hp}/#{creature.hp_max})
