doctype html
html
  head
    title Shintolin - Home
    link(rel='stylesheet', type='text/css', href='/game/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/game/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='shintolin.css')
  body
    .bigbox(style='height: 600px')
      table
        tr
          td: img(alt='Cave painting logo', src='/images/cave_artthumb.png', style='height: 160px; display: inline;')
          td
            h1 Shintolin
            h2 Explore. Settle. Trade. Conquer.
            p: i A free <a href='http://github.com/shintolin/shintolin'>open-source</a> browser-based massively multiplayer game.
          td: img(alt='Cave painting logo', src='/images/bw_hutsthumb.png', style='height: 160px; display: inline;')
          td: a(href='/screenshot')
            img(src='/images/screenthumb.png')
            br
            | [Screenshot]
      table
        tr
          td
            .beigebox(style='width: 15em')
              b Settlements: #{settlement_count}
              br
              b Map: #{square_count} squares
              if younguns && younguns.length > 0
                br
                b Newest Player: <a href='/profile/#{younguns[0].slug}'>#{younguns[0].name}</a>
            .beigebox(style='width: 15em; margin-top: 4px')
              b Sign in:
              hr
              if message === 'bad_pw'
                b Incorrect email or password.
              form(method='POST', action='/login')
                input(type='hidden', name='_csrf', value=csrf)
                | Email Address:
                br
                input.text(type='email', name='email', maxlength='255')
                br
                | Password:
                br
                input.text(type='password', name='password', length='64')
                hr
                input(type='submit', value='Login', style='margin-left: auto; margin-right: 0')
            .beigebox(style='width: 15em; margin-top: 4px')
              a.buttonlink(href='https://muut.com/shintolin') Forums
              a.buttonlink(href='http://shintolin.wikia.com/wiki/Shintolin') Wiki
              a.buttonlink(href='/rankings') Leaderboards
          td
            .beigebox(style='width: 30em')
              i Humanity has wandered the world of Shintolin for millenia, hunting and gathering to survive. But some grow tired of the nomadic life, and are beginning to settle down. Forests make way for farmland, villages grow into towns and cities, and civilisations seek wealth, power, and glory.
              hr
              b Hunt, or farm. Fight, or heal. Build, or conquer. Join hundreds of players in a free, browser-based world.
              hr
              div(style='text-align: left; font-style: italic')
                ul
                  li Work with other players to build a village, or try and survive the dangers of the wilderness
                  li Find your fortune through farming, crafting, or trading
                  li Explore a dynamic world, where every item, building and town is player-created
                  li Shape the landscape, and write your own chapter in the history of Shintolin
          td
            .beigebox(style='width: 15em')
              b Create New Account:
              hr
              if message === 'too_long'
                b Username or password too long
              else if message === 'too_short'
                b Username or password too short
              else if message === 'name_taken'
                b Username is already taken
              else if message === 'email_taken'
                b E-mail is already in use
              else if message === 'pw_not_match'
                b Passwords do not match
              else if message === 'invalid_name'
                b Invalid username
              else if message === 'no_email'
                b Enter a valid email address
              form(method='POST', action='/register')
                input(type='hidden', name='_csrf', value=csrf)
                | Email Address:
                br
                input.text(type='email', name='email', length='255')
                br
                | Password:
                br
                input.text(type='password', name='password_1', length='64')
                br
                | Re-enter password:
                br
                input.text(type='password', name='password_2', length='64')
                hr
                | Character Name:
                br
                input.text(type='text', name='username', maxlength='24')
                if settlement_count > 0
                  br
                  | Settlement (optional, and can be changed later):
                  br
                  select(name='settlement', style='width: 10em')
                    option(value='') None
                    for settlement in settlements
                      option(value=settlement._id)= settlement.name
                hr
                input(type='submit', value='Sign Up Now!')
      i Now that enough money was donated to buy a new server, Shintolin is no longer taking donations. A big thank you to everyone who gave money, very much appreciated.

    hr

    .news
      h3 Recent Updates
      for update in updates
        hr
        h4 #{moment(update.date).format('MMMM Do, YYYY')}
        | !{update.html}

      hr
      p: a(href='/updates') View older updates.

    hr

    font(size='-1', color='e8e8d0') Server Time: #{server_time}

    script(src='/game/js/lib/jquery-2.1.4.min.js')
    script(src='/game/bootstrap-3.3.5-dist/js/bootstrap.min.js')
