doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='/css/default.css')
    link(rel='stylesheet', type='text/css', href='/css/apps/website.css')
  body#home

    .jumbotron
      .container
        .row
          .col-xs-9
            .logo.pull-left.hidden-xs
              img(alt='Shintolin logo', src='/images/cave_artthumb.png')
            h1 Shintolin
            p.tagline.hidden-xs Explore. Settle. Trade. Conquer.
          .col-xs-3.hidden-xs.hidden-sm
            .login-button.text-right
              if current_character
                a.btn.btn-default(href='/game') Play as #{current_character.name}
                a.btn.btn-default(href='/logout') Logout
              else
                a.btn.btn-default(href='/login') Login
            .stats.hidden-xs.hidden-sm
              div
                table
                  tr
                    td: label Active Players
                    td: span #{active_character_count}
                  tr
                    td: label Settlements
                    td: span #{settlement_count}
                  tr
                    td: label Map Size
                    td: span #{square_count}
                  if younguns && younguns.length > 0
                    tr
                      td: label Newest Player
                      td: a(href='/profile/#{younguns[0].slug}') #{younguns[0].name}
        .row.hidden-md.hidden-lg
          .col-xs-12
            .login-button.text-center
              if current_character
                a.btn.btn-default(href='/game') Play as #{current_character.name}
                a.btn.btn-default(href='/logout') Logout
              else
                a.btn.btn-default(href='/login') Login

    .container

      .row
        .col-sm-7
          div.marketing
            p: strong Hunt, or farm. Fight, or heal. Build, or conquer. Join fellow players in a free, persistent browser-based world.
            p.hidden-xs Humanity has wandered the world of Shintolin for millenia, hunting and gathering to survive. But some grow tired of the nomadic life, and are beginning to settle down. Forests make way for farmland, villages grow into towns and cities, and civilisations seek wealth, power, and glory.
            ul.hidden-xs
              li Work with other players to build a village, or try and survive the dangers of the wilderness
              li Find your fortune through farming, crafting, or trading
              li Explore a dynamic world, where every item, building and town is player-created
              li Shape the landscape, and write your own chapter in the history of Shintolin

            div.screenshots.text-center.hidden-xs
              ul
                li: a(href='/images/screenfull.png'): img(src='/images/screenthumb.png')

        .col-sm-5
          .well.register
            h2 Create Your Character
            p: a(href='/login') Already have a character? Log in here.

            if message === 'too_long'
              .alert.alert-danger Username or password too long
            else if message === 'too_short'
              .alert.alert-danger Username or password too short
            else if message === 'name_taken'
              .alert.alert-danger Username is already taken
            else if message === 'email_taken'
              .alert.alert-danger E-mail is already in use
            else if message === 'pw_not_match'
              .alert.alert-danger Passwords do not match
            else if message === 'invalid_name'
              .alert.alert-danger Invalid username
            else if message === 'no_email'
              .alert.alert-danger Enter a valid email address

            form(method='POST', action='/register')
              input(type='hidden', name='_csrf', value=csrf)
              .form-group
                label(for='email') Email Address
                input.form-control#email(type='email', name='email', maxlength='255')
              .form-group
                label(for='password') Password
                input.form-control#password(type='password', name='password', maxlength='64')
              .form-group
                label(for='password_2') Re-enter Password
                input.form-control#password_2(type='password', name='password_2', maxlength='64')
              .form-group
                label(for='username') Character Name
                input.form-control#username(type='text', name='username', maxlength='16')
              if settlements.length > 0
                .form-group
                  label(for='settlement') Starting Settlement
                  select.form-control#settlement(name='settlement')
                    option(value='') None (Wanderer)
                    for settlement in settlements
                      option(value=settlement._id)= settlement.name
              .buttons.text-center
                button.btn.btn-default(type='submit') Play Now!

    .jumbotron
      .container
        .row
          .col-xs-12
            .release-notes
              h2: span Recently Released!
              h3: a(href='/updates##{latest_release_note.date.getTime()}') #{moment(latest_release_note.date).format('MMMM Do, YYYY')}
              .note
                | !{latest_release_note.html}
              p.text-center: a.btn.btn-default(href='/updates') Read Older Release Notes

    .container
      .row
        .col-xs-12
          p.server-time.text-center
            label Server Time:
            span #{moment(server_time).format("YYYY-MM-DD HH:mm:ss \\[h:mm A\\]")}

    script(src='/js/lib/jquery-2.1.4.min.js')
    script(src='/bootstrap-3.3.5-dist/js/bootstrap.min.js')
