extends ./_page.jade

block content
  .container
    .row
      .col-xs-12

        h1 IP #{ip}

        table.hits
          thead
            tr
              th Date
              th Character
              th Hits
          for hit in hits
            tr
              td #{hit.date}
              if hit.character && hit.character.length && characters[hit.character]
                td: a(href="/profile/#{characters[hit.character].slug}") #{characters[hit.character].name}
              else
                td –––
              td #{hit.hits}
