.row
  .col-sm-6.col-md-7.col-lg-8

    if character.bio.length
      div.profile-bio !{bio}
    else
      p.profile-bio.empty A rather non-descript individual.

    if character.settlement_id
      .profile-settlement
        label Settlement
        p
          if character.settlement_provisional
            span.label.label-warning #{settlement.provisional_title || 'Provisional Member'}
          else if leader
            span.label.label-success #{settlement.leader_title || 'Leader'}
          else
            span.label.label-default #{settlement.member_title || 'Member'}
          |  of 
          a(href='/settlements/#{character.settlement_slug}') #{character.settlement_name}
          |  since #{moment(character.settlement_joined).fromNow()}.

    if !_.isEmpty(character.badges)
      .profile-badges
        label Badges
        div
          for date_granted, badge_id in character.badges
            span.label.label-default #{data.badges[badge_id].name}

    .row

      .col-sm-6

        div
          label Level
          p #{character.skills.length + 1}

        div
          label Frags
          p #{character.frags}

        div
          label Kills/Deaths
          p #{character.kills}/#{character.deaths}

        div
          label Revives
          p #{character.revives}

      .col-sm-6
        mixin profile_date(character.created, 'Joined')
        if character.hp > 0
          mixin profile_date(character.last_revived, 'Alive Since')
        else
          div
            label Alive Since
            if character.revivable
              p: span.label.label-warning Recovering
            else
              p: span.label.label-danger Dazed

  .col-sm-6.col-md-5.col-lg-4.hidden-xs
    .profile-avatar: img(alt='portrait of #{character.name}', src=character.image_url || '/images/cave_art.jpg')
