extends ./_page.jade

block content
  mixin pill(metric, label, active)
    li(role='presentation', class={active: active}): a(href='/rankings/#{metric}')=label

  .jumbotron
    .container
      .row
        .col-xs-12
          h1 Leaderboards
          h2 #{time.month} #{time.season} #{time.year}SR &mdash; #{active_count} Active Players
            if is_developer
              |  (#{total_count} Total)

  .container
    .row
      .col-sm-4.col-md-3

        .rankings-nav-xs(role='navigation').dropdown.visible-xs
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
            | #{config.title}
            |  
            span.caret
          ul.dropdown-menu(aria-labelledby='rankings-nav')
            for r, key in rankings
              if !r.developer_only || is_developer
                mixin pill(key, r.title, config === r)
          hr

        .rankings-nav(role='navigation').hidden-xs
          ul.nav.nav-pills.nav-stacked
            for r, key in rankings
              if !r.developer_only || is_developer
                mixin pill(key, r.title, config === r)

      .col-sm-8.col-md-9

        if config.title
          h2.page-title.hidden-xs #{config.title}
        if config.description
          p.hidden-xs #{config.description}
        table.rankings
          thead
            tr
              if config.type === 'player'
                th: b Player
              else if config.type === 'settlement'
                th: b Settlement
              if !config.columns
                th: b #{config.title}
              else if _.isArray(config.columns)
                for column in config.columns
                  th: b #{column}
              else
                th: b #{config.columns}
          for r, i in results
            tr
              td
                span #{i + 1}.
                |  
                if config.type === 'player'
                  - var badge = data.badges[r.object.title];
                  if badge && badge.title_placement === 'prefix'
                    a(href='/profile/#{r.object.slug}') #{badge.title}<strong>#{r.object.name}</strong>
                  else if badge
                    a(href='/profile/#{r.object.slug}') <strong>#{r.object.name}</strong>#{badge.title}
                  else
                    a(href='/profile/#{r.object.slug}') <strong>#{r.object.name}</strong>
                  if r.object.settlement_id
                    |  from 
                    a(href='/settlements/#{r.object.settlement_slug}') #{r.object.settlement_name}
                  if r.object.revivable
                    |  
                    .label.label-warning Recovering
                  else if r.object.hp === 0
                    |  
                    .label.label-danger Dazed
                  if r.object.banned
                    |  
                    .label.label-danger BANNED
                else if config.type === 'settlement'
                  if r.object.slug
                    a(href='/settlements/#{r.object.slug}'): strong #{r.object.name}
                    if r.object.leader
                      |  lead by 
                      a(href='/profile/#{r.object.leader.slug}') #{r.object.leader.name}
                  else
                    span #{r.object.name}
                  if r.object.destroyed
                    |  
                    .label.label-danger Destroyed
                  else if r.object.slug && r.object.open
                    |  
                    .label.label-success Open
                  else if r.object.slug
                    |  
                    .label.label-warning Private
              if config.columns && _.isArray(config.columns)
                for column, i in config.columns
                  td #{r.mapped[i]}
              else
                td #{r.mapped}
          if !results.length
            tr
              td.empty(colspan=(1 + (_.isArray(config.columns) ? config.columns.length : 1)))
                if config.type === 'player'
                  .text-center No matching players found.
                else
                  .text-center No matching settlements found.
