doctype html
html
  head
    title Shintolin - Rankings
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
  body
    | It is Year #{time.year}, #{time.month} #{time.season} ----- Active Users: #{active}
    hr
    if logged_in
      a.buttonlink(href='/game') Return
    else
      a.buttonlink(href='/') Home
    hr
    form(method='GET')
      b Rank by:
      select(width='300px', name='metric')
        option(value='frags', selected=(locals.metric == 'frags')) Frags
        option(value='deaths', selected=(locals.metric == 'deaths')) Deaths
        option(value='kills', selected=(locals.metric == 'kills')) Kills
        option(value='revives', selected=(locals.metric == 'revives')) Players Revived
        option(value='younguns', selected=(locals.metric == 'younguns')) Newest players
        option(value='oldies', selected=(locals.metric == 'oldies')) Oldest players
        option(value='survival', selected=(locals.metric == 'survival')) Longest surviving players
        option(value='') -----
        option(value='oldtowns', selected=(locals.metric == 'oldtowns')) Oldest Settlements
        option(value='newtowns', selected=(locals.metric == 'newtowns')) Newest Settlements
        option(value='bigtowns', selected=(locals.metric == 'bigtowns')) Most Populous Settlements
      input(type='submit', value='View')

    if locals.frags
      i Frags measure not just the number of foes killed, but the quality of one's opponents. New players begin with one frag, and when a character is knocked out, the attacker takes half their frags (rounded up).
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Frags
        for c, i in frags
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= c.frags
    if locals.deaths
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Deaths
        for c, i in deaths
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= c.deaths
    if locals.kills
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Kills
        for c, i in kills
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= c.kills
    if locals.revives
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Revives
        for c, i in revives
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= c.revives
    if locals.younguns
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Joined
        for c, i in younguns
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= moment(c.created).fromNow()
    if locals.oldies
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Joined
        for c, i in oldies
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= moment(c.created).fromNow()
    if locals.survival
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Last Revived
        for c, i in survival
          tr
            td= i + 1
            td: a(href='/profile/#{c.slug}')= c.name
            td= moment(c.last_revived).fromNow()
    if locals.oldtowns
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Region
          td: b Founded
        for s, i in oldtowns
          tr
            td= i + 1
            td: a(href='/settlements/#{s.slug}')= s.name
            td= data.regions[s.region].name
            td= moment(s.founded).fromNow()
    if locals.newtowns
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Region
          td: b Founded
        for s, i in newtowns
          tr
            td= i + 1
            td: a(href='/settlements/#{s.slug}')= s.name
            td= data.regions[s.region].name
            td= moment(s.founded).fromNow()
    if locals.bigtowns
      hr
      table
        tr
          td: b Rank
          td: b Name
          td: b Region
          td: b Population
        for s, i in bigtowns
          tr
            td= i + 1
            td: a(href='/settlements/#{s.slug}')= s.name
            td= data.regions[s.region].name
            td= s.population
    hr
    if logged_in
      a.buttonlink(href='/game') Return
    else
      a.buttonlink(href='/') Home
