.row
  .col-sm-6.col-md-7.col-lg-8

    unless settlement.destroyed || logged_in
      .alert.alert-success
        label Join #{settlement.name} today!
        p: a(href=`/?settlement=${settlement.slug}`) https://www.shintolin.com/?settlement=#{settlement.slug}

    if settlement.destroyed
      .alert.alert-danger This settlement was destroyed by <a href=`/profiles/${settlement.destroyer.slug}`>#{settlement.destroyer.name}</a> on #{moment(settlement.destroyed).format('MMMM Do, YYYY')}.

    if settlement.description.length
      div.profile-bio !{bio}
    else if region
      p.profile-bio.empty A village located in #{region.name}.
    else
      p.profile-bio.empty A village located in the wilderness.

    if settlement.website_url && settlement.website_url.length
      div
        label Website
        p: a(href=`${settlement.website_url}`) #{settlement.website_url}

    div
      label Founded
      p
        | #{moment(settlement.founded).format('MMMM Do, YYYY')}
        |  by 
        a(href=`/profile/${settlement.founder.slug}`) #{settlement.founder.name}
        if region
          |  in 
          span #{region.name}

    div
      label
        | Inhabitants
        |  
        span.badge.badge-default x#{settlement.members.length}
      if members.length
        ul.settlement-members
          for member, i in members
            li(class={alt: (i % 2 === 0)})
              if is_member && !is_provisional
                if member.provisional || (your_vote && member._id.toString() === your_vote._id.toString())
                  button.btn.btn-default.btn-xs(disabled=true) Vote For
                  |  
                else
                  form.inline-block(method='POST', action=`/settlements/${settlement.slug}/vote`)
                    input(type='hidden', name='_csrf', value=csrf)
                    input(type='hidden', name='target_id', value=member._id.toString())
                    button.btn.btn-success.btn-xs(type='submit') Vote For
                  |  
              span.settlement-member
                a(href=`/profile/${member.slug}`) #{member.name}
                if member.provisional
                  |  
                  span.label.label-warning #{settlement.provisional_title || 'Provisional Member'}
                else if member.leader
                  |  
                  span.label.label-success #{settlement.leader_title || 'Leader'}
                else
                  |  
                  span.label.label-default #{settlement.member_title || 'Member'}
              if (is_member || is_developer) && member.votes
                span.settlement-votes
                  if member.votes === 1
                    span.badge.badge-default x#{member.votes} vote
                  else
                    span.badge.badge-default x#{member.votes} votes
              if member.provisional && is_leader
                |  
                form.inline-block(method='POST', action=`/settlements/${settlement.slug}/promote`)
                  input(type='hidden', name='_csrf', value=csrf)
                  input(type='hidden', name='target_id', value=member._id.toString())
                  button.btn.btn-success.btn-xs(type='submit') Promote
                |  
                form.inline-block(method='POST', action=`/settlements/${settlement.slug}/evict`)
                  input(type='hidden', name='_csrf', value=csrf)
                  input(type='hidden', name='target_id', value=member._id.toString())
                  button.btn.btn-danger.btn-xs(type='submit') Evict
      else
        p.empty None

    if is_member
      .text-center
        br
        form.confirmable(method='POST', action=`/settlements/${settlement.slug}/leave`)
          input(type='hidden', name='_csrf', value=csrf)
          button.btn.btn-danger(type='submit') Leave Settlement

  .col-sm-6.col-md-5.col-lg-4.hidden-xs
    if settlement.image_url.length
      .profile-avatar: img(src=settlement.image_url)
    else
      .profile-avatar: img(src='/images/p_huts_small.jpg')
