extends ./_page.jade

block content
  .jumbotron
    .container
      .row
        .col-xs-12
          h1 #{settlement.name}
          h2 #{settlement.motto}

  .container
    .row
      .col-xs-12

        if editable || is_developer
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation'): a(href='#settlement', aria-controls='settlement', role='tab', data-toggle='tab') Settlement
            li(role='presentation'): a(href='#edit-settlement', aria-controls='edit-settlement', role='tab', data-toggle='tab') Edit Profile
            if is_developer
              li(role='presentation'): a(href='#developer', aria-controls='developer', role='tab', data-toggle='tab') Developer Tools

        .tab-content(class={'profile-read-only': (!editable && !is_developer)})
          #settlement.tab-pane.active(role='tabpanel')
            include ./settlement-view
          if editable || is_developer
            #edit-settlement.tab-pane(role='tabpanel')
              include ./settlement-edit
          if is_developer
            #developer.tab-pane(role='tabpanel')
              h2.page-title Developer Tools
              hr

              form(method='POST', action='/game/dev/teleport-to-coords')
                input(type='hidden', name='_csrf', value=csrf)
                input(type='hidden', name='x', value=settlement.x)
                input(type='hidden', name='y', value=settlement.y)
                input(type='hidden', name='z', value=0)
                button.btn.btn-default(type='submit') Teleport To
