extends ./_page.pug

block content

  .container

    .row
      .col-xs-12
        h1 DEV: All Chat

    .row.chat-nav
      .col-xs-6
        if page === 2
          a.btn.btn-default(href='/manage/allchat') &larr; Newer
        else if page > 1
          a.btn.btn-default(href='/manage/allchat?page=#{page - 1}') &larr; Newer
        else
          a.disabled.btn.btn-default(disabled='disabled') &larr; Newer
      .col-xs-6.text-right
        if messages.length === page_size
          a.btn.btn-default(href='/manage/allchat?page=#{page + 1}') Older &rarr;
        else
          a.disabled.btn.btn-default(disabled='disabled') Older &rarr;

    .row
      .col-xs-12
        br
        for msg in messages
          pre #{JSON.stringify(msg, null, '  ')}
        br

    .row.chat-nav
      .col-xs-6
        if page === 2
          a.btn.btn-default(href='/manage/allchat') &larr; Newer
        else if page > 1
          a.btn.btn-default(href='/manage/allchat?page=#{page - 1}') &larr; Newer
        else
          a.disabled.btn.btn-default(disabled='disabled') &larr; Newer
      .col-xs-6.text-right
        if messages.length === page_size
          a.btn.btn-default(href='/manage/allchat?page=#{page + 1}') Older &rarr;
        else
          a.disabled.btn.btn-default(disabled='disabled') Older &rarr;

    .row
      .col-xs-12
        br
