.action
  -var weapon = data.items[msg.weapon];
  if msg.damage
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled 
      when 'slash'
        | slashed 
      when 'stab'
        | stabbed 
      default
        | attacked 
    if msg.target_creature
      | the #{data.creatures[msg.target_creature].name}
    else
      a(href='/profile/#{msg.target_slug}')= msg.target_name
    |  with a #{data.items[msg.weapon].name}
    |  for #{msg.damage} hp damage
    if msg.kill && msg.target_creature
      | , killing it! 
    else if msg.kill
      | , knocking them out! 
      if msg.frags === 1
        | You also stole a frag from them. 
      else if msg.frags
        | You also stole #{msg.frags} frags from them. 
      if msg.kicked_from_settlement
        | They are now no longer a provisional resident of <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a>! 
    else
      | . 
    if msg.broken
      | Your cherished #{data.items[msg.weapon].name} breaks! You throw away the useless pieces in disgust. 
  else
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at 
      when 'slash'
        | swiped at 
      when 'stab'
        | lunged at 
      default
        | attacked 
    if msg.target_creature
      | the #{data.creatures[msg.target_creature].name}
    else
      a(href='/profile/#{msg.target_slug}')= msg.target_name
    |  with 
    unless weapon.text && weapon.text.suppress_indefinite_article
      |  a 
    |  #{weapon.name} 
    |  and missed. 

  if msg.response === 'miss'
    |  The #{data.creatures[msg.target_creature].name} attacked you back and missed. 
  else if msg.response === 'hit'
    if msg.response_kill
      |  The #{data.creatures[msg.target_creature].name} attacked you back and hit you for #{msg.response_damage} damage, knocking you out! 
    else
      |  The #{data.creatures[msg.target_creature].name} attacked you back and hit you for #{msg.response_damage} damage! 
  else if msg.response === 'flee'
    |  The #{data.creatures[msg.target_creature].name} fled the area. 

  if msg.loot
    |  You looted #{describe_list(object_to_array(msg.loot).map(function(i){ return i.value + 'x ' + data.items[i.key].plural; }))}. 

  div.time= moment(msg.sent).fromNow()
