.action
  if msg.damage
    +senderLink(msg)
    |   
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled 
      when 'slash'
        | slashed 
      when 'stab'
        | stabbed 
      default
        | attacked 
    if msg.target_creature
      | the 
      span.target #{data.creatures[msg.target_creature].name}
    else
      +targetLink(msg)
    |  with a #{data.items[msg.weapon].name}
    |  for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.kill && msg.target_creature
      | , killing it! 
    else if msg.kill
      | , 
      span.knockout knocking them out
      | ! 
      if msg.kicked_from_settlement
        | They are now no longer a provisional resident of <a href=`/settlements/${msg.settlement_slug}`>#{msg.settlement_name}</a>! 
    else
      | . 
    if msg.broken
      | Their #{data.items[msg.weapon].name} breaks! They throw away the useless pieces in disgust. 
  else
    +senderLink(msg)
    |   
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at 
      when 'slash'
        | swiped at 
      when 'stab'
        | lunged at 
      default
        | attacked 
    if msg.target_creature
      | the 
      span.target #{data.creatures[msg.target_creature].name}
    else
      +targetLink(msg)
    |  with a #{data.items[msg.weapon].name}
    |  and 
    span.missed missed
    | . 

  if msg.response === 'miss'
    |  The 
    span.target #{data.creatures[msg.target_creature].name}
    |  attacked them back and 
    span.missed missed
    | . 
  else if msg.response === 'hit'
    if msg.response_kill
      |  The 
      span.target #{data.creatures[msg.target_creature].name}
      |  attacked them back and hit for 
      span.damage #{msg.response_damage} HP
      |  damage, 
      span.knockout knocking them out
      | ! 
    else
      |  The 
      span.target #{data.creatures[msg.target_creature].name}
      |  attacked them back and hit for 
      span.damage #{msg.response_damage} HP
      |  damage! 
  else if msg.response === 'flee'
    |  The 
    span.target #{data.creatures[msg.target_creature].name}
    |  fled the area. 

  +timestamp(msg)
