.action
  if msg.damage
    | <a href='/profile/#{msg.sender_slug}'>#{msg.sender_name}</a> 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled 
      when 'slash'
        | slashed 
      when 'stab'
        | stabbed 
      default
        | attacked 
    if msg.target_creature
      | the #{data.creatures[msg.target_creature].name}
    else
      a(href='/profile/#{msg.target_slug}')= msg.target_name
    |  with a #{data.items[msg.weapon].name}
    |  for #{msg.damage} hp damage
    if msg.kill && msg.target_creature
      | , killing it! 
    else if msg.kill
      | , knocking them out! 
      if msg.kicked_from_settlement
        | They are now no longer a provisional resident of <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a>! 
    else
      | . 
    if msg.broken
      | Their #{data.items[msg.weapon].name} breaks! They throw away the useless pieces in disgust. 
    span.time= moment(msg.sent).fromNow()
  else
    | <a href='/profile/#{msg.sender_slug}'>#{msg.sender_name}</a> 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at 
      when 'slash'
        | swiped at 
      when 'stab'
        | lunged at 
      default
        | attacked 
    if msg.target_creature
      | the #{data.creatures[msg.target_creature].name}
    else
      a(href='/profile/#{msg.target_slug}')= msg.target_name
    |  with a #{data.items[msg.weapon].name}
    |  and missed. 

  if msg.response === 'miss'
    |  The #{data.creatures[msg.target_creature].name} attacked them back and missed. 
  else if msg.response === 'hit'
    if msg.response_kill
      |  The #{data.creatures[msg.target_creature].name} attacked them back and hit for #{msg.response_damage} damage, knocking them out! 
    else
      |  The #{data.creatures[msg.target_creature].name} attacked them back and hit for #{msg.response_damage} damage! 

  span.time= moment(msg.sent).fromNow()
