.action
  -var weapon = data.items[msg.weapon];
  if msg.damage
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled 
      when 'slash'
        | slashed 
      when 'stab'
        | stabbed 
      default
        | attacked 
    if msg.target_creature
      | the 
      span.target #{data.creatures[msg.target_creature].name}
    else
      +targetLink(msg)
    |  with a #{data.items[msg.weapon].name}
    |  for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.kill && msg.target_creature
      | , killing it! 
    else if msg.kill
      | , 
      span.knockout knocking them out
      | ! 
      if msg.frags === 1
        | You also stole a frag from them. 
      else if msg.frags
        | You also stole #{msg.frags} frags from them. 
      if msg.kicked_from_settlement
        | They are now no longer a provisional resident of 
        +settlementLink(msg)
        | ! 
    else
      | . 
    if msg.broken
      | Your cherished #{data.items[msg.weapon].name} breaks! You throw away the useless pieces in disgust. 
  else
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at 
      when 'slash'
        | swiped at 
      when 'stab'
        | lunged at 
      default
        | attacked 
    if msg.target_creature
      | the 
      span.target #{data.creatures[msg.target_creature].name}
    else
      +targetLink(msg)
    |  with 
    unless weapon.text && weapon.text.suppress_indefinite_article
      |  a 
    |  #{weapon.name} 
    |  and 
    span.missed missed
    | . 

  if msg.response === 'miss'
    |  The 
    span.target #{data.creatures[msg.target_creature].name}
    |  attacked you back and 
    span.missed missed
    | . 
  else if msg.response === 'hit'
    if msg.response_kill
      |  The 
      span.target #{data.creatures[msg.target_creature].name}
      |  attacked you back and hit you for 
      span.damage #{msg.response_damage} HP
      |  damage, 
      span.knockout knocking you out
      | ! 
    else
      |  The 
      span.target #{data.creatures[msg.target_creature].name}
      |  attacked you back and hit you for 
      span.damage #{msg.response_damage} HP
      |  damage! 
  else if msg.response === 'flee'
    |  The 
    span.target #{data.creatures[msg.target_creature].name}
    |  fled the area. 

  if msg.loot
    |  You looted #{describe_list(object_to_array(msg.loot).map(function(i){ return i.value + 'x ' + data.items[i.key].plural; }))}. 

  +timestamp(msg)
