if msg.damage
  .action
    a.neutral(href='/profile/#{msg.sender_slug}')= msg.sender_name
    |  
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled
      when 'slash'
        | slashed
      when 'stab'
        | stabbed
      default
        | attacked
    |  you with a #{data.items[msg.weapon].name} for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.kill
      |  and 
      span.knockout knocked you out
      | ! 
      if msg.frags === 1
        | They also stole a frag from you. 
      else if msg.frags
        | They also stole #{msg.frags} frags from you. 
      if msg.kicked_from_settlement
        | You are now no longer a resident of <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a>! 
    else
      | . 
    if msg.broken
      | Their #{data.items[msg.weapon].name} breaks! They throw away the useless pieces in disgust. 
    div.time= moment(msg.sent).fromNow()
else
  .action
    a.neutral(href='/profile/#{msg.sender_slug}')= msg.sender_name
    |  
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled
      when 'slash'
        | slashed
      when 'stab'
        | stabbed
      default
        | attacked
    |  you with a #{data.items[msg.weapon].name} and 
    span.missed missed
    | . 
    div.time= moment(msg.sent).fromNow()
