if msg.hit
  .action
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled
      when 'slash'
        | slashed
      when 'stab'
        | stabbed
      default
        | attacked
    |  the 
    span.target #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.destroyed
      | , 
      span.knockout destroying it
      | ! 
    else
      | . 
    if msg.broken
      | Your cherished #{data.items[msg.weapon].name} breaks! You throw away the useless pieces in disgust. 
    +timestamp(msg)
else
  .action
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at
      when 'slash'
        | swiped at
      when 'stab'
        | lunged at
      default
        | attacked
    |  the 
    span.target #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} and 
    span.missed missed
    | . 
    +timestamp(msg)
