if msg.hit
  .action
    | Guards report someone has 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled
      when 'slash'
        | slashed
      when 'stab'
        | stabbed
      default
        | attacked
    |  the #{data.buildings[msg.building].name}
    |  in <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a> 
    |  with 
    |  a 
    |  #{data.items[msg.weapon].name} for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.destroyed
      | , destroying it! 
    else
      | . 
    if msg.broken
      | Your cherished #{data.items[msg.weapon].name} breaks! You throw away the useless pieces in disgust. 
    div.time= moment(msg.sent).fromNow()
else
  .action
    | Guards report someone has 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at
      when 'slash'
        | swiped at
      when 'stab'
        | lunged at
      default
        | attacked
    |  the #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} and 
    span.missed missed
    | . 
    div.time= moment(msg.sent).fromNow()
