if msg.hit
  .action
    +senderLink(msg)
    | . 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled
      when 'slash'
        | slashed
      when 'stab'
        | stabbed
      default
        | attacked
    |  the 
    span.target #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.destroyed
      | , destroying it! 
    else
      | . 
    if msg.broken
      | Their cherished #{data.items[msg.weapon].name} broke! 
    +timestamp(msg)
else
  .action
    +senderLink(msg)
    |  
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at
      when 'slash'
        | swiped at
      when 'stab'
        | lunged at
      default
        | attacked
    |  the 
    span.taret #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} and 
    span.missed missed
    | . 
    +timestamp(msg)
