if msg.hit
  .action
    | You hear someone outside 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeling
      when 'slash'
        | slashing
      when 'stab'
        | stabbing
      default
        | attacking
    |  the #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} for #{msg.damage} damage
    if msg.destroyed
      | , and the building starts to fall down around you! 
    else
      | . 
    if msg.broken
      | Your cherished #{data.items[msg.weapon].name} breaks! You throw away the useless pieces in disgust. 
    div.time= moment(msg.sent).fromNow()
else
  .action
    | You hear someone outside 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeling
      when 'slash'
        | slashing
      when 'stab'
        | stabbing
      default
        | attacking
    |  the #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} and missed. 
    div.time= moment(msg.sent).fromNow()
