if msg.hit
  .action
    | You hear someone outside 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeling
      when 'slash'
        | slashing
      when 'stab'
        | stabbing
      default
        | attacking
    |  the 
    span.target #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} for 
    span.damage #{msg.damage} HP
    |  damage
    if msg.destroyed
      | , and the building starts to fall down around you! 
    else
      | . 
    if msg.broken
      | Their cherished #{data.items[msg.weapon].name} broke! 
    +timestamp(msg)
else
  .action
    | You hear someone outside 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeling
      when 'slash'
        | slashing
      when 'stab'
        | stabbing
      default
        | attacking
    |  the 
    span.target #{data.buildings[msg.building].name}
    |  with a #{data.items[msg.weapon].name} and 
    span.missed missed
    | . 
    +timestamp(msg)
