.action
  a(href='/profile/#{msg.winner_slug}')= msg.winner_name
  |  has defeated <a href='/profile/#{msg.loser_slug}'>#{msg.loser_name}</a> to become #{msg.leader_title} of <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a>. 
  div.time= moment(msg.sent).fromNow()
