.action
  - var building = data.buildings[msg.building];
  | <a href='/profile/#{msg.sender_slug}'>#{msg.sender_name}</a>
  if building.text && building.text.repair && building.text.repair.success_nearby
    |  #{building.text.repair.success_nearby}. 
  else
    |  repaired the #{building.name}. 
  div.time= moment(msg.sent).fromNow()
