.action
  | You use #{data.items[msg.item].name} on 
  | <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a>
  | , reviving them from their daze and healing #{msg.amount} HP. 
  span.time= moment(msg.sent).fromNow()
