.action
  if msg.sender_id.toString() === msg.target_id.toString()
    a.neutral(href='/profile/#{msg.sender_slug}')= msg.sender_name
    |  revives themself, healing #{msg.amount} HP. 
  else
    a.neutral(href='/profile/#{msg.sender_slug}')= msg.sender_name
    |  uses #{data.items[msg.item].name} on 
    | <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a>. Their daze begins to subside.
  div.time= moment(msg.sent).fromNow()
