.action
  if msg.outside
    a.neutral(href='/profile/#{msg.sender_slug}')= msg.sender_name
    |  wrote '
    span.message= msg.message
    | ' on the #{data.buildings[msg.building].name}. 
  else
    a.neutral(href='/profile/#{msg.sender_slug}')= msg.sender_name
    |  wrote '
    span.message= msg.message
    | ' on the walls. 
  span.time= moment(msg.sent).fromNow()
