if msg.damage
  .action
    a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
    |  attacked you with a #{msg.weapon} for #{msg.damage} hp damage. 
    span.time= moment(msg.sent).fromNow()
else
  .action
    a.neutral(href='/profile/#{msg.sender_id}')= msg.sender_name
    |  attacked you with a #{msg.weapon} and missed. 
    span.time= moment(msg.sent).fromNow()
