if msg.damage
  .action
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | cudgeled
      when 'slash'
        | slashed
      when 'stab'
        | stabbed
      default
        | attacked
    |  <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a> with a #{data.items[msg.weapon].name} for #{msg.damage} hp damage
    if msg.kill
      | , knocking them out! 
      if msg.frags === 1
        | You also stole a frag from them. 
      else if msg.frags
        | You also stole #{msg.frags} frags from them. 
      if msg.kicked_from_settlement
        | They are now no longer a provisional resident of <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a>! 
    else
      | . 
    if msg.broken
      | Your cherished #{data.items[msg.weapon].name} breaks! You throw away the useless pieces in disgust. 
    span.time= moment(msg.sent).fromNow()
else
  .action
    |  You 
    case data.items[msg.weapon].weapon_class
      when 'blunt'
        | swung at
      when 'slash'
        | swiped at
      when 'stab'
        | lunged at
      default
        | attacked
    |  <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a> with a #{data.items[msg.weapon].name} and missed. 
    span.time= moment(msg.sent).fromNow()
