if msg.damage
  .action
    |  You attacked <a href='/profile/#{msg.target_id}'>#{msg.target_name}</a> with a #{msg.weapon} for #{msg.damage} hp damage. 
    span.time= moment(msg.sent).fromNow()
else
  .action
    |  You attacked <a href='/profile/#{msg.target_id}'>#{msg.target_name}</a> with a #{msg.weapon} and missed. 
    span.time= moment(msg.sent).fromNow()
