if msg.damage
  .action
    | <a href='/profile/#{msg.sender_slug}'>#{msg.sender_name}</a> attacked <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a> with a #{msg.weapon} for #{msg.damage} hp damage
    if msg.kill
      |  and knocked them out! 
    else
      | . 
    span.time= moment(msg.sent).fromNow()
else
  .action
    | <a href='/profile/#{msg.sender_slug}'>#{msg.sender_name}</a> attacked <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a> with a #{msg.weapon} and missed. 
    span.time= moment(msg.sent).fromNow()
