extends ./_layout.pug

block content
  if is_developer
    .container
      .row
        .col-xs-12
          br

          div.text-center
            ul.dev-buttons
              if character.ap < 100
                li: a.btn.btn-default(href='/game/dev/replenish-ap') Add #{Math.ceil(100-character.ap)} AP
              if character.hp < 50
                li: a.btn.btn-default(href='/game/dev/replenish-hp') Add #{Math.ceil(50-character.hp)} HP
              if character.hp > 0
                li: a.btn.btn-default(href='/game/dev/daze') Daze
              li: a.btn.btn-default(href='/manage/map') Map Editor
              li: a.btn.btn-default(href='/manage/allchat') All Chat

          p.text-center #{center.tile.x},#{center.tile.y},#{center.tile.z} (#{center.tile.terrain}) {#{center.tile._id.toString()}}

          if possessor
            form(method='POST', action='/game/dev/unpossess')
              h2 Unpossess
              input(type='hidden', name='_csrf', value=csrf)
              input.btn.btn-success(type='submit', value='Unpossess', data-action='unpossess')

          form.confirmable(method='POST', action='/game/dev/announce')
            h2 Announce
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
              label Message
              input.form-control(type='text', name='text')
            input.btn.btn-warning(type='submit', value='Announce', data-action='dev-announce')

          form(method='POST', action='/game/dev/materialize')
            h2 Materialize
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
              label Item
              select.form-control(name='item', style='width: 10em', data-persist='item', data-action-focus='materialize')
                for i in _.sortBy(data.items, 'name')
                  option(value=i.id)= i.name
            .form-group
              label Quantity
              select.form-control(name='quantity', data-persist='materialize-quantity', data-action-focus='materialize')
                for i in _.range(100)
                  option(value=i + 1)= i + 1
            input.btn.btn-default(type='submit', value='Materialize', data-action='materialize')

          form(method='POST', action='/game/dev/construct')
            h2 Construct
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
              label Building
              select.form-control(name='building', style='width: 10em', data-persist='building', data-action-focus='dev-construct')
                for b in _.sortBy(data.buildings, 'name')
                  option(value=b.id)= b.name
            input.btn.btn-default(type='submit', value='Construct', data-action='dev-construct')

          form(method='POST', action='/game/dev/paint')
            h2 Paint Tile
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
              label Terrain
              select.form-control(name='terrain', style='width: 10em', data-persist='dev-paint-terrain', data-action-focus='paint')
                if center.terrain.id === config.default_terrain
                  option(value=center.terrain.id)= center.terrain.id
                for terrain in data.terrains
                  unless terrain.hidden
                    if terrain.id === center.terrain.id
                      option(value=terrain.id, selected)= terrain.id
                    else
                      option(value=terrain.id)= terrain.id
            .form-group
              label Region
              select.form-control(name='region', style='width: 10em', data-persist='dev-paint-region')
                option(value='') (No Region)
                for region in data.regions
                  if center.tile.region === region.id
                    option(value=region.id, selected)= region.name
                  else
                    option(value=region.id)= region.name
            input.btn.btn-default(type='submit', value='Paint', data-action='paint')

          form(method='POST', action='/game/dev/spawn')
            h2 Spawn Creature
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
              label Creature
              select.form-control(name='creature', style='width: 10em', data-persist='creature', data-action-focus='spawn')
                for c in data.creatures
                  option(value=c.id)= c.name
            input.btn.btn-default(type='submit', value='Spawn', data-action='spawn')

          form(method='POST', action='/game/dev/teleport-to-coords')
            h2 Teleport
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
              label X
              input.form-control(type='number', name='x', value=center.tile.x)
            .form-group
              label Y
              input.form-control(type='number', name='y', value=center.tile.y)
            input.btn.btn-default(type='submit', value='Teleport', data-action='move_to_coords')

          form(method='POST', action='/game/dev/teleport-to-random-tile')
            h2 Teleport
            input(type='hidden', name='_csrf', value=csrf)
            input.btn.btn-default(type='submit', value='Teleport (Random Tile)', data-action='move_to_random_tile')

          form(method='POST', action='/game/dev/teleport-to-coords')
            h2 Teleport
            input(type='hidden', name='_csrf', value=csrf)
            input(type='hidden', name='x', value='-67')
            input(type='hidden', name='y', value='-31')
            input.btn.btn-default(type='submit', value="Teleport (God's Glade)", data-action='move_to_gods_glade')

          if settlements.length
            form(method='POST', action='/game/dev/teleport-to-coords')
              h2 Teleport
              input(type='hidden', name='_csrf', value=csrf)
              .form-group
                select.form-control(name='coords')
                  for s in settlements
                    option(value='#{s.x},#{s.y},0') #{s.name}
              input.btn.btn-default(type='submit', value="Teleport (Settlement)", data-action='move_to_settlement')

          if building && center.tile.z === 0
            form.confirmable(method='POST', action='/game/dev/destroy')
              h2 Destroy Building
              p #{center.tile.building}
              input(type='hidden', name='_csrf', value=csrf)
              input.btn.btn-danger(type='submit', value='Destroy', data-action='destroy')
