extends ./_layout.jade

block content
  if is_developer
    .col-md-12
      .gamebox
        ul
          if building && center.tile.z === 0
            li
              dt Building Health:
              dd #{center.tile.hp}/#{building.hp_max ? building.hp_max : building.hp}
          li: a.buttonlink(href='/game/dev/replenish-ap') Replenish AP
          li: a.buttonlink(href='/game/dev/replenish-hp') Replenish HP
          li: a.buttonlink(href='/manage/map') Admin

        form(method='POST', action='/game/dev/paint')
          input(type='hidden', name='_csrf', value=csrf)
          select(name='terrain', style='width: 10em', data-persist='dev-paint-terrain', data-action-focus='paint')
            if center.terrain.id === config.default_terrain
              option(value=center.terrain.id)= center.terrain.id
            for terrain in data.terrains
              unless terrain.hidden
                if terrain.id === center.terrain.id
                  option(value=terrain.id, selected)= terrain.id
                else
                  option(value=terrain.id)= terrain.id
          select(name='region', style='width: 10em', data-persist='dev-paint-region')
            option(value='') (No Region)
            for region in data.regions
              if center.tile.region === region.id
                option(value=region.id, selected)= region.name
              else
                option(value=region.id)= region.name
          input(type='submit', value='Paint', data-action='paint')

        if center.people && center.people.length
          form(method='POST', action='/game/dev/possess')
            input(type='hidden', name='_csrf', value=csrf)
            input(type='submit', value='Possess', data-action='possess')
            select(name='target', style='width: 10em', data-persist='target', data-action-focus='possess')
              for c in center.people
                option(value=c._id) #{c.name} #{i}

        if possessor
          form(method='POST', action='/game/dev/unpossess')
            input(type='hidden', name='_csrf', value=csrf)
            input(type='submit', value='Unpossess', data-action='unpossess')

        form(method='POST', action='/game/dev/materialize')
          input(type='hidden', name='_csrf', value=csrf)
          input(type='submit', value='Materialize', data-action='materialize')
          select(name='item', style='width: 10em', data-persist='item', data-action-focus='materialize')
            for i in _.sortBy(data.items, 'name')
              option(value=i.id)= i.name
          select(name='quantity', data-persist='materialize-quantity', data-action-focus='materialize')
            for i in _.range(100)
              option(value=i + 1)= i + 1

        form(method='POST', action='/game/dev/spawn')
          input(type='hidden', name='_csrf', value=csrf)
          input(type='submit', value='Spawn', data-action='spawn')
          select(name='creature', style='width: 10em', data-persist='creature', data-action-focus='spawn')
            for c in data.creatures
              option(value=c.id)= c.name

        form(method='POST', action='/game/dev/announce')
          input(type='hidden', name='_csrf', value=csrf)
          input(type='text', name='text')
          input(type='submit', value='Announce', data-action='dev-announce')

        form(method='POST', action='/game/dev/teleport-to-coords')
          input(type='hidden', name='_csrf', value=csrf)
          label X
          input(type='number', name='x', value=center.tile.x)
          label Y
          input(type='number', name='y', value=center.tile.y)
          input(type='submit', value='Teleport', data-action='move_to_coords')

        form(method='POST', action='/game/dev/teleport-to-character')
          input(type='hidden', name='_csrf', value=csrf)
          label Character
          input(type='text', name='target_name')
          input(type='submit', value='Teleport', data-action='move_to_coords')

        form(method='POST', action='/game/dev/teleport-to-random-tile')
          input(type='hidden', name='_csrf', value=csrf)
          input(type='submit', value='Teleport (Random Tile)', data-action='move_to_random_tile')

        form(method='POST', action='/game/dev/teleport-to-coords')
          input(type='hidden', name='_csrf', value=csrf)
          input(type='hidden', name='x', value='-67')
          input(type='hidden', name='y', value='-31')
          input(type='submit', value="Teleport (God's Glade)", data-action='move_to_gods_glade')

        p Searches: #{center.searches}
        p Location: #{center.tile.x},#{center.tile.y},#{center.tile.z} (#{center.tile.terrain})
