doctype html
html
  head
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
    link(rel='stylesheet', type='text/css', href='/game/css/game.css')
    link(rel='stylesheet', type='text/css', href='/game/css/tiles.css')
  body
    h1.header Map
    a.buttonlink(href='/game') Return
    hr
    table
      for row in grid
        tr
          for tile in row
            td.map(class='tile-#{tile.style}')
              if tile.tile.building
                span.mapdata.feature= data.buildings[tile.tile.building].name
                br
              if tile.creatures && tile.creatures.length
                for creature in tile.creatures
                  span.mapdata.creature #{creature.creature.name} (#{creature.hp}/#{creature.hp_max})
                  br
              if tile.people && tile.people.length === 1
                span.mapdata 1 person
              else if tile.people && tile.people.length > 1
                span.mapdata #{tile.people.length} people
    hr
    a.buttonlink(href='/game') Return
