extends ./_layout.jade

block content
  .col-md-12
    center
      table
        for row in grid
          tr
            for tile in row
              td.map(class='tile-#{tile.style}')
                div
                  if tile.tile.building
                    div: .mapdata.feature= data.buildings[tile.tile.building].name
                    br
                  if tile.creatures && tile.creatures.length
                    for creature in tile.creatures
                      div: .mapdata.creature #{creature.creature.name} (#{creature.hp}/#{creature.hp_max})
                      br
                  if tile.people && tile.people.length === 1
                    div: .mapdata 1 person
                  else if tile.people && tile.people.length > 1
                    div: .mapdata #{tile.people.length} people
